<!------------------------------------------------------------------------------------->
<div class="ui container fluid">
  <div class="ui top menu big">
    <a id="toggle" href="#" class="item">
      <i class="sidebar icon"></i>
      Menu
    </a>
  <!----------------------------------------------------->
    <div class="ui secondary  menu floated right">
    <!---->
    <!---->
      <div class="right menu">
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
        </div>
        <a class="ui item">
          Logout
        </a>
      </div>
    </div>
  <!----------------------------------------------------->
  </div>
  <div class="ui bottom attached segment pushable">
    <div class="ui inverted labeled  left inline vertical sidebar menu">
      <a class="item">
        <i class="home icon blue"></i>
        Home
      </a>
      <a class="item">
        <i class="home icon"></i>
        Home
      </a>
    </div>
  </div>
</diV>    

<!---------------------------------------------------------------------------------------------------->